@import url(https://cdn.jsdelivr.net/npm/qweather-icons@1.6.0/font/qweather-icons.css);
:root {
  /* 标题 */
  --title-color: rgba(0, 0, 0, 0.85);
  /* 正文 */
  --text-color: rgba(0, 0, 0, 0.65);
  /* 次要文字 */
  --sub-text-color: rgba(0, 0, 0, 0.45);
  /* 不可点文字 */
  --disable-text-color: rgba(0, 0, 0, 0.25);
  /* 线的颜色 */
  --line-color: rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}
body {
  color: rgb(var(--foreground-rgb));
}
a {
  color: inherit;
  text-decoration: none;
}
#root {
  width: 100%;
  height: 100%;
}

.micro-app-weather-main-TIEcrk {
  height: 100%;
  width: 100%;
}

.micro-app-weather-popupModel-cWVFnE.micro-app-weather-maxWindow-UpclWO .ant-modal {
  width: 100% !important;
  height: 100%;
  max-width: 100%;
}
.micro-app-weather-popupModel-cWVFnE.micro-app-weather-maxWindow-UpclWO .ant-modal-content {
  height: 100%;
  border-radius: 0;
}
.micro-app-weather-popupModel-cWVFnE .ant-modal-content {
  padding: 0 !important;
  border-radius: 12px;
  overflow: hidden;
  background-color: transparent;
}
.micro-app-weather-popupModel-cWVFnE .ant-modal-content .ant-modal-body {
  height: 100%;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogPanel-Au4QlG {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  z-index: 1000;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw.micro-app-weather-reverse-mfhna1 {
  left: 8px;
  right: initial;
  flex-direction: row-reverse;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie {
  display: flex;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  cursor: pointer;
  color: #fff;
  font-size: 8px;
  transition: all 0.3s;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie.micro-app-weather-yellow-JfXiQe {
  background-color: #f5b94b;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie.micro-app-weather-green-Vro13N {
  background-color: #34c759;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie.micro-app-weather-red-N7z5Z_ {
  background-color: #ff7330;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie.micro-app-weather-blue-TpOa3T {
  background-color: #69b1ff;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie > i {
  opacity: 0;
  transition: all 0.3s;
}
.micro-app-weather-popupModel-cWVFnE .micro-app-weather-dialogTool-fpSxBw .micro-app-weather-btn-tFT8ie:hover > i {
  opacity: 1;
}
.micro-app-weather-iconClose-iNcfCu {
  position: relative;
}
.micro-app-weather-iconClose-iNcfCu::before,
.micro-app-weather-iconClose-iNcfCu::after {
  content: '';
  display: block;
  height: 3px;
  width: 10px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.micro-app-weather-iconClose-iNcfCu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.micro-app-weather-iconClose-iNcfCu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.micro-app-weather-iconExpandOut-woy2jA,
.micro-app-weather-iconCompressOut-f6AXod {
  position: relative;
}
.micro-app-weather-iconExpandOut-woy2jA::before,
.micro-app-weather-iconCompressOut-f6AXod::before,
.micro-app-weather-iconExpandOut-woy2jA::after,
.micro-app-weather-iconCompressOut-f6AXod::after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
.micro-app-weather-iconExpandOut-woy2jA::before {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: -1px;
}
.micro-app-weather-iconExpandOut-woy2jA::after {
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin: 1px;
}
.micro-app-weather-iconCompressOut-f6AXod::before {
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin: -3px;
}
.micro-app-weather-iconCompressOut-f6AXod::after {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 3px;
}
.micro-app-weather-iconRetract-dDsSpr {
  position: relative;
}
.micro-app-weather-iconRetract-dDsSpr::before {
  content: '';
  display: block;
  height: 3px;
  width: 10px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.micro-app-weather-iconLink-UNTZLC {
  position: relative;
}
.micro-app-weather-iconLink-UNTZLC::before,
.micro-app-weather-iconLink-UNTZLC::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border: 2px solid #fff;
  border-radius: 4px;
  transform: rotate(-15deg);
}
.micro-app-weather-iconLink-UNTZLC::before {
  left: -5px;
  top: -2px;
}
.micro-app-weather-iconLink-UNTZLC::after {
  left: -2px;
  top: -5px;
}
.micro-app-weather-viewResizeContainer-VNWzPL {
  position: relative;
}
.micro-app-weather-viewResizeContainer-VNWzPL .micro-app-weather-viewResizePanel-tRBWMw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.micro-app-weather-mainContainer-VsQE1N {
  height: 100%;
  width: 100%;
  position: relative;
  color: #e3e3e3;
}
.micro-app-weather-mainContainer-VsQE1N .micro-app-weather-panel-iQtYYx {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.micro-app-weather-mainContainer-VsQE1N .micro-app-weather-bgCover-T4qSoI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
.micro-app-weather-miniContainer-Tkd0vI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  color: #e3e3e3;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-header-dDKpTz {
  height: 48px;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-floor-zhYbV2 {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-nowTmp-RGGHsZ {
  font-size: 80px;
  line-height: 76px;
  height: 76px;
  margin: 32px 0;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-info-ngzC9E {
  text-align: left;
  margin: 32px 0;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-info-ngzC9E > div {
  margin: 4px 0;
  line-height: 20px;
  height: 20px;
  font-size: 13px;
  width: 200px;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-info-ngzC9E > div span {
  margin-left: 8px;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-weatherInfo-l7f7KC {
  width: 100%;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin: -8px 0;
  padding: 32px 0;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-weatherInfo-l7f7KC > div {
  width: 33.33%;
  margin: 8px 0;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-weatherInfo-l7f7KC > div h5 {
  margin-bottom: 4px;
}
.micro-app-weather-miniContainer-Tkd0vI .micro-app-weather-weatherInfo-l7f7KC > div span {
  font-size: 14px;
}
.micro-app-weather-mask-cbLwap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(42, 56, 27, 0.1), rgba(18, 18, 16, 0.2));
}
.micro-app-weather-backdrop-brTMWg {
  position: relative;
  height: 100%;
}
.micro-app-weather-bgPanel-B6Wke4 {
  height: 100%;
  background-color: #201f1e;
  position: relative;
}
.micro-app-weather-bgPanel-B6Wke4 .micro-app-weather-image-KnFzaJ {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.micro-app-weather-bgPanel-B6Wke4 .micro-app-weather-video-M6IIFW {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.micro-app-weather-hoursPanel-gDNCVj {
  width: 100%;
  flex: 1;
  margin-bottom: 8px;
}
.micro-app-weather-hoursPanel-gDNCVj.micro-app-weather-listPanel-bSoFz5 ul li {
  padding: 2px 0;
}
.micro-app-weather-hoursPanel-gDNCVj .micro-app-weather-linePanel-Mj2SGw {
  top: 2px;
  bottom: 42px;
}
.micro-app-weather-weekPanel-Bw6Cg0 {
  width: 100%;
  margin-top: 8px;
  flex: 2;
}
.micro-app-weather-weekPanel-Bw6Cg0 .micro-app-weather-linePanel-Mj2SGw {
  top: 50px;
  bottom: 30px;
}
.micro-app-weather-listPanel-bSoFz5 {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.micro-app-weather-listPanel-bSoFz5 h3 {
  font-size: 13px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.65);
}
.micro-app-weather-listPanel-bSoFz5 ul {
  list-style: none;
  display: flex;
  flex: 1;
  position: relative;
}
.micro-app-weather-listPanel-bSoFz5 ul li {
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.micro-app-weather-listPanel-bSoFz5 ul li:first-child {
  background-color: rgba(0, 0, 0, 0.08);
  border-left: none;
}
.micro-app-weather-listPanel-bSoFz5 ul li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.micro-app-weather-listPanel-bSoFz5 ul li .micro-app-weather-text-bWuF6f {
  line-height: 20px;
  font-size: 11px;
}
.micro-app-weather-listPanel-bSoFz5 .micro-app-weather-linePanel-Mj2SGw {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.micro-app-weather-listPanel-bSoFz5 .micro-app-weather-linePanel-Mj2SGw > div {
  width: 100%;
  height: 100%;
}

.micro-app-weather-layout-HBoKko {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #000;
}
.micro-app-weather-layout-HBoKko .micro-app-weather-mainContainer-BFt30f {
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 12px;
  margin-right: 12px;
  overflow: hidden;
  position: relative;
}
.micro-app-weather-layout-HBoKko .micro-app-weather-mainContainer-BFt30f::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 1px 8px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  pointer-events: auto;
  z-index: 1;
}
.micro-app-weather-layout-HBoKko .micro-app-weather-miniContainer-kY3XGV {
  max-width: 320px;
  width: 24%;
  flex-shrink: 0;
  height: 100%;
}
.micro-app-weather-layout-HBoKko .micro-app-weather-backdropContainer-iHutfH {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(15px);
}

.micro-app-weather-copyright-_5zZL8 {
  font-size: 12px;
  color: #e3e3e3;
  opacity: 0.45;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.micro-app-weather-copyright-_5zZL8 > div {
  display: none;
}
.micro-app-weather-copyright-_5zZL8 > div:nth-child(1),
.micro-app-weather-copyright-_5zZL8 > div:nth-child(2) {
  display: block;
}
.micro-app-weather-copyright-_5zZL8:hover > div:nth-child(2) {
  display: none;
}
.micro-app-weather-copyright-_5zZL8:hover > div:nth-child(3) {
  display: block;
}

.micro-app-weather-container-z89bJg {
  width: 100%;
  height: 100%;
  font-size: 14px;
  position: relative;
}
.micro-app-weather-container-z89bJg .micro-app-weather-panel-uMPymK {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
.micro-app-weather-container-z89bJg .micro-app-weather-bgCover-DcXzTi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-weather-container-z89bJg .micro-app-weather-left-mka9kQ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.micro-app-weather-container-z89bJg .micro-app-weather-right-xKCtNz {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.micro-app-weather-container-z89bJg .micro-app-weather-icon-Zb6hre {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  color: #597ef7;
  filter: grayscale(1);
  transition: filter 0.2s;
}
.micro-app-weather-container-z89bJg .micro-app-weather-title-Y2kg2X {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 24px;
}
.micro-app-weather-container-z89bJg .micro-app-weather-info-GsnaXt {
  font-size: 12px;
}
.micro-app-weather-container-z89bJg:hover .micro-app-weather-icon-Zb6hre {
  animation: micro-app-weather-bounce-t5A2js 1s infinite;
  transform-origin: center;
  filter: grayscale(0);
}
@keyframes micro-app-weather-bounce-t5A2js {
  0%,
  20%,
  50%,
  80% {
    transform: scale3d(1, 1, 1);
  }
  35%,
  65% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.micro-app-weather-sunny_d-H0Q1Aw {
  background-image: linear-gradient(35deg, #154280 30%, #335693, #a8b3d2);
}
.micro-app-weather-sunny_n-KvO8e3 {
  background-image: linear-gradient(45deg, #000012 20%, #29334e);
}
.micro-app-weather-cloudy_d-CVD3vq {
  background-image: linear-gradient(35deg, #054989 30%, #72ade0);
}
.micro-app-weather-cloudy_n-daG24i {
  background-image: linear-gradient(35deg, #191a2e 30%, #4c5f7f);
}
.micro-app-weather-yin_d-Gp4rqR {
  background-image: linear-gradient(35deg, #354564 30%, #4c5f7f, #8b9bb8);
}
.micro-app-weather-yin_n-aQ8zbD {
  background-image: linear-gradient(45deg, #211e22 20%, #383a3e);
}
.micro-app-weather-haze_d-EtjmkS {
  background-image: linear-gradient(45deg, #8d8882 20%, #bbb7af);
}
.micro-app-weather-haze_n-yihTpl {
  background-image: linear-gradient(45deg, #1b1712 20%, #5b4c49);
}
.micro-app-weather-foggy_d-OFulI9 {
  background-image: linear-gradient(45deg, #789fb8 20%, #6386a3);
}
.micro-app-weather-foggy_n-UflJ_P {
  background-image: linear-gradient(45deg, #6c7682 20%, #535d69);
}

.micro-app-weather-container-dD1AqC {
  height: 100%;
  width: 100%;
  background-color: #201f1e;
  color: #e3e3e3;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-panel-hAUptu {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 32px 0 32px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-bgCover-KCZKjm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-copyright-MwkF1x {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  align-items: center;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 {
  flex: 1;
  margin-right: 16px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 .micro-app-weather-weatherNowtmp-jrMs3x {
  display: flex;
  flex-wrap: nowrap;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 .micro-app-weather-weatherNowtmp-jrMs3x .micro-app-weather-nowTmp-_zQpgf {
  font-size: 80px;
  line-height: 76px;
  height: 76px;
  margin-right: 20px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 .micro-app-weather-weatherNowtmp-jrMs3x .micro-app-weather-info-j0nRpm {
  text-align: left;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 .micro-app-weather-weatherNowtmp-jrMs3x .micro-app-weather-info-j0nRpm > div {
  margin: 4px 0;
  line-height: 20px;
  height: 20px;
  font-size: 13px;
  width: 200px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-nowPanel-JEnqP6 .micro-app-weather-weatherNowtmp-jrMs3x .micro-app-weather-info-j0nRpm > div span {
  margin-left: 8px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-weatherInfo-QGC9NT {
  width: 100%;
  margin-left: 16px;
  display: flex;
  font-size: 12px;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  height: 100%;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-topPanel-U5VlYD .micro-app-weather-weatherInfo-QGC9NT > div {
  width: 33.33%;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-hoursPanel-leSuj2 {
  width: 100%;
  margin-bottom: 16px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-hoursPanel-leSuj2.micro-app-weather-listPanel-sriqUv ul li {
  padding: 2px 0;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-hoursPanel-leSuj2 .micro-app-weather-linePanel-iuYhCL {
  top: 42px;
  bottom: 2px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-weekPanel-Z9xcu0 {
  width: 100%;
  margin-bottom: 48px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-weekPanel-Z9xcu0 .micro-app-weather-linePanel-iuYhCL {
  top: 50px;
  bottom: 30px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.03);
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv h3 {
  font-size: 12px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.4);
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv ul {
  list-style: none;
  display: flex;
  flex: 1;
  position: relative;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv ul li {
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv ul li:first-child {
  background-color: rgba(255, 255, 255, 0.08);
  border-left: none;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv ul li:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv ul li .micro-app-weather-text-fQIGns {
  line-height: 20px;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv .micro-app-weather-linePanel-iuYhCL {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-listPanel-sriqUv .micro-app-weather-linePanel-iuYhCL > div {
  width: 100%;
  height: 100%;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-flex1-sHxLni {
  flex: 1;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-flex2-Sk4Nm2 {
  flex: 2;
}
.micro-app-weather-container-dD1AqC .micro-app-weather-flex4-kYyXUe {
  flex: 4;
}

